@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
}
.head {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  /* border: 2px solid red; */
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}
.head-title {
  font-size: 32px;
  color: black;
  text-align: center;
  margin-bottom: 16px;
  color: white;
}
.head-main_title {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  text-align: center;
  max-width: 632px;
  line-height: 95px;
  color: white;
}
.holiday {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.holiday-container h2 {
  color: rgb(255, 0, 0);
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}
.holiday-subtitle {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}
.holiday-title {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}
.party {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  /* border: 2px solid red; */
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      90deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}
.party-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.party_column-1 {
  width: 642px;
  height: 176px;
}
.party-container h2 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  text-align: left;
}
.party-container p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.party-container button {
  background: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 48px;
  cursor: pointer;
}
.place {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  /* border: 2px solid red; */
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
}
.place-container p {
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
}
.des-title {
  color: rgb(255, 0, 0);
}
.place-container button {
  width: 167px;
  height: 56px;
  margin-left: 576px;
  margin-right: 577px;
  margin-top: 48px;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 8px;
  border: none;
  letter-spacing: 0%;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 32px 16px 32px;
  cursor: pointer;
}
.offer {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  /* border: 2px solid red; */
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-container {
  display: flex;
  justify-content: space-between;
  gap: 120px;
}
.offer-column_1 {
  width: 393px;
  height: 255px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.offer-subtitle {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.offer-column_1 h2 {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 22px;
}
.offer-des {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}
.offer-column_2 {
  box-sizing: border-box;
  border: 15px solid rgb(255, 0, 0);
  border-radius: 50%;
}
.offer-column_3 h2 {
  color: rgb(255, 0, 0);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.des-2 {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 46px;
}
.sale {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  /* border: 2px solid red; */
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sale-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sale-subtile {
  color: rgb(7, 2, 17);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}
.sale-container h2 {
  font-size: 72px;
  font-weight: 900;
  line-height: 91px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 28px;
}
.diff {
  color: rgb(255, 0, 0);
}
.sale-des {
  max-width: 1068px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 64px;
}
.pic-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-position: bottom;
  gap: 177px;
}
.img-2 img {
  margin-bottom: 280px;
}
.gift {
  width: 1320px;
  height: 1163px;
  margin: 0 auto;
  /* border: 2px solid red; */
  margin-top: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gift-subtitle {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.gift-text h2 {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 22px;
}
.gift-des {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
}
.gift-image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.gift-image-container img {
  width: 424px;
  height: 450px;
  border-radius: 16px;
}
.news {
  width: 1320px;
  height: 616px;
  margin: 0 auto;
  /* border: 2px solid red; */
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 0, 0, 0.05);
  border-radius: 16px;
}
.news-container img {
  padding-left: 380px;
  margin-bottom: 40px;
}
.news-container h2 {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 22px;
}
.news-container p {
  color: rgba(7, 2, 17, 0.6);
  max-width: 896px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}
.input-box {
  width: 648px;
  height: 72px;
  border-radius: 50px;
  background: rgb(255, 255, 255);
  margin-left: 150px;
  display: flex;
}
.input-box [type="email"] {
  width: 438px;
  height: 72px;
  border-radius: 50px 0px 0px 50px;
  border: none;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.input-box [type="submit"] {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: rgb(255, 0, 0);
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
.footer {
  width: 100%;
  height: 609px;
  background-color: rgb(7, 2, 17);
  margin-top: 120px;
}
.footer-container {
  padding: 120px 340px;
}
.footer-row1 {
  display: flex;
  justify-content: space-between;
}
.address {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 400px;
}
.contact {
  padding-right: 100px;
}
.phn {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}
.website {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}
.footer-row2 {
  margin-top: 100px;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-row3 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.res,
.unsub {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
